
@{
    ViewBag.Title = "Index";
    List<Challenge.Models.Book> lstBook = ViewBag.list;
}

<h2>Index</h2>

<div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Book Id </th>
                    <th> Title </th>
                    <th> ISBN </th>
                </tr>
            </thead>
            <tbody id="content">
                @foreach (var item in lstBook)
                {
                    <tr>
                        <td>@item.BookId</td>
                        <td>@item.Title</td>
                        <td>@item.ISBN</td>
                    </tr>
                }
            </tbody>
        </table>

        <input type="button" name="Guardar" id="btnGuardar" value="Guardar" class="btn btn-danger" />
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/logic.js"></script>