
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogicError</title>
</head>
<body>
    <div> 
        <h2> Error! </h2>
        <p>Se ha producido un error, informa al administrador del sistema!</p>
    </div>
</body>
</html>
