
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div> 
        <h2> Página no encontrada </h2>
        <p>Lo sentimos pero la página que buscas no esta disponible</p>
    </div>
</body>
</html>
