
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/home/newbook" method="post">
            <label> Title: </label> <input type="text" name="Title" value=" " /> &nbsp;
            <label> ISBN: </label> <input type="text" name="ISBN" value=" " /> &nbsp;
            <input type="submit" name="btnGuardar" value="Guardar" />
        </form> 
    </div>
</body>
</html>
