
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="/Index/NewBook">New Book</a>
        <hr />
        <table align="center" border="1">
            <thead>
                <tr>
                    <td>Book Id</td>
                    <td>Title</td>
                    <td>ISBN</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.BookId </td>
                        <td> @item.Title </td>
                        <td> @item.ISBN </td>
                        <td>
                            <a href="/Index/EditBook/@item.BookId">Edit</a> |
                            <a href="/Index/DeleteBook/@item.BookId" onclick="if (!confirm('Esta seguro(a) de eliminar el libro?')) return false;">Delete</a> 
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>
</body>
</html>
